.section{
    background-color: purple;
    padding: 40px 0 60px;
    border-bottom: 10px solid black;
}

.section .main-title{
    margin-bottom: 80px;
}

.section.-project{
    background-color: gray;
}

.section.-about{
    background-color:#7C5E99;
    border-color: red;
}