.section{
    background-color: purple;
    padding: 40px 0 60px;
    border-bottom: 10px solid black;
}

.section .main-title{
    margin-bottom: 80px;
}

.section.-project{
    background-color: gray;
}

.section.-about{
    background-color:#7C5E99;
    border-color: red;
}

.section.-end{
    display: flex;
    justify-content: center;
    padding: 27px;
    background-color: black;
}

.section.-end img{
    margin: 0px 20px 0px 20px;
}